* {
  margin: 0;
  padding: 0;
}

html {
  height: auto;
  min-height: 100%;
}

body {
  background: #f7f7f7;
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  outline: 0;
}

#google_translate_element {
  margin: 5px 0 0 10px;
  align-self: flex-start;
}
#translate {
  margin-top: 10px;
  margin-left: 15px;
  align-self: flex-start;
  font-size: 0.8rem;
}

.btcContainer {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btcContainer img {
  height: 150px;
  width: 150px;
}

.btcContainer .btcConversion {
  display: flex;
  flex-direction: row;
  margin-top: 3rem;
  font-size: 4rem;
}
.mobile .btcContainer .btcConversion {
  display: flex;
  flex-direction: column;
  font-size: 3rem;
}
.mobile .btcContainer .btcConversion .prices {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.btcContainer .btcConversion strong {
  color: #909090;
}
.btcContainer .btcConversion span {
  color: #f29100;
  margin-left: 3rem;
  margin-right: 3rem;
}

.btcContainer .btcConversion input {
  border: 0;
  color: #909090;
  text-align: right;
  font-size: 3.8rem;
  width: 22rem;
  background: inherit;
}
.btcContainer .btcConversion input:hover {
  background: #f291005d;
}

.btcContainer .btcConversion input:focus {
  background: #f291005d;
}

.mobile .btcContainer .btcConversion input {
  font-size: 2.5rem;
  width: 15rem;
}

.content {
  margin-top: 10%;
  max-width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
}

.mobile .content {
  max-width: 100vw;
  padding: 20px;
}

.content table {
  border-collapse: collapse;
  margin-top: 16px;
  width: 100%;
}

.content table thead tr td {
  background: #fef0db;
  color: #999;
}

.content tr:nth-child(even) {
  background-color: #e4e4e4;
}

.content td {
  border-bottom: 1px solid #ddd;
  font-size: 15px;
  height: auto;
  max-height: 30px;
  padding: 10px;
  text-align: left;
}

.content h3 {
  margin-top: 30px;
  letter-spacing: 1px;
}
.content h3,
.content strong {
  color: #616161;
}

.content p {
  line-height: 21px;
  margin: 16px 0;
  text-align: justify;
}

.content a {
  font-weight: bold;
  color: #5a5a5a;
}

.content a:hover {
  color: #6495ed;
}

footer {
  font-style: italic;
  font-size: 0.8rem;
  /* align-self: flex-end; */
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media (max-width: 800px) {
  .content {
    max-width: 100%;
    padding: 10px;
  }
  .btcContainer .btcConversion {
    display: flex;
    flex-direction: column;
    font-size: 3rem;
  }
  .btcContainer .btcConversion .prices {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .btcContainer .btcConversion input {
    font-size: 2.5rem;
    width: 15rem;
  }
}
